@import "tailwindcss";


/* Register the font for Tailwind v4 */
@theme {
  --font-inter: "Inter", sans-serif;
  --font-orbitron : "Orbitron", sans-serif;
  --color-background: #f3f4f6;     /* soft gray */
  --color-primary: #4f46e5;        /* indigo-600 */
  --color-primary-hover: #4338ca;
}


.section-container{
    @apply max-w-7xl mx-auto px-6 font-inter
}

body{
  @apply bg-background
}

::selection{
  @apply bg-pink-200 text-pink-600
}

.swiper-pagination {
    margin-top: 20px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #cbd5e1;
    opacity: 1;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 999px;
    background: linear-gradient(90deg, #4f46e5, #9333ea);
}

@layer utilities {
  .beautiful-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #fbfbff #e5e7eb;
  }

  .beautiful-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .beautiful-scrollbar::-webkit-scrollbar-track {
    background: #f3f4f6;
    border-radius: 9999px;
  }

  .beautiful-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #818cf8, #4f46e5);
    border-radius: 9999px;
    border: 2px solid #f3f4f6;
  }

  .beautiful-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #6366f1, #4338ca);
  }
}